<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/activities/index.css" />
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>

<% if (isSelf)  {%> 
  <h2>Add Favorites about the place you visited!</h2><br>
  <form action="/profiles/<%= profile._id %>/favorites" method="POST">
    <label>Place Visited: </label>
    <input type="text" name="place" autocomplete="off" required>
    <label>Favorite Activity: </label>
    <input type="text" name="activity" autocomplete="off" required>
    <label>Favorite Food: </label>
    <input type="text" name="food" autocomplete="off" required>
    <button class ="remove" type="submit">Add Favorites</button>
  </form>
  <br>

<% } %>
<% if (profile.favorites.length)  {%>
  <h1>
    <%= isSelf ? "You have" : `${profile.name} has` %> favorites! Here they are!
  </h1>
  <% profile.favorites.forEach(favorite => { %>
    <h2><%= isSelf ? "You have" : `${profile.name} has` %><%=" visited "%>   <%=  favorite.place %><%=".In "  %><%=favorite.place %> <%= isSelf ? ", your " : ` , ${profile.name}'s` %><%= ` favorite activity is ` %><%= favorite.activity %><%= ` and favorite food is ${favorite.food}.` %>
    <% if (isSelf) { %> 
        <form 
          action="/profiles/favorites/<%= favorite._id %>?_method=DELETE" 
          method="POST"
          style="display: inline-block;"
        >
          <button type="submit">Remove favorite <%= favorite.name %></button>
        </form>
      <% } %> 
    </h2>
  <% }) %>
<% } else { %>
  <h2>
    <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any favorites.
  </h2> 
<% } %>
</main>
<%- include('../partials/footer') %>