<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/packages/index.css" />
<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
        id="new-form" 
        action="/activities" 
        method="POST"
        >
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
    <p>Please add your favorite activity below:</p>
  <form id="add-performer-form" action="/activities" method="POST">
    <label for ="destination-select">Destination:
      <select name="name">
        <option value="<%= activity.name %>"><%= activity.name %></option>
        <option value="Kathmandu">Kathmandu</option>
        <option value="Chiwan">Chitwan</option>
        <option value="Pokhara">Pokhara</option>
      </select>
    </label><br>
    <label for="name-input">Recommended places:</label>
    <input type="text" name="recommendedPlaces" id="name-input" value ="<%=activity.recommendedPlaces%>"><br>
    <label for="name-input">Recommended activities:</label>
    <input type="text" name="recommendedActivities" id="name-input" value="<%=activity.recommendedActivities%>"><br>
    <button type="submit">Save Activity</button>
  </form>
  </div>
  </div>
  </div>
</main>
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
  crossorigin="anonymous"
></script>

<%- include('../partials/footer') %>