<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/packages/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1 class ="title"><%= title %></h1>
  <form action="/activities/<%= activity._id %>?_method=PUT" method="POST">
    <label for ="destination-select">Destination:</label>
      <select name="name">
        <option value="<%= activity.name %>"><%= activity.name %></option>
        <option value="Kathmandu">Kathmandu</option>
        <option value="Chiwan">Chitwan</option>
        <option value="Pokhara">Pokhara</option>
      </select>
    <label for="image-url">Image URL:</label>
    <input type="text" name="imageUrl" value="<%=activity.imageUrl%>">  
    <label for="name-input">Recommended place:</label>
    <input type="text" name="recommendedPlaces" id="name-input" value ="<%=activity.recommendedPlaces%>">
    <label for="name-input">Recommended activity:</label>
    <input type="text" name="recommendedActivities" id="name-input" value="<%=activity.recommendedActivities%>">
    <button type="submit">Save Changes</button>          
  </form>
</main>

<%- include('../partials/footer') %>