<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/activities/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1 class = "title"><%= title %> </h1>
  <% if (user) { %>
    <a href="/activities/new">
      <button class="new"> Add Recommendations</button> 
    </a>
  <% } %>
  <div class="container py-3 px-3">
    <div class="row row-cols-2 row-cols-md-3 g1 px-4">
        <% activities.forEach(function(activity) { %>
          <div class="col">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h1 class="card-title fs-1 text-dark">Recommended Activity</h1> 
                <% if(activity.imageUrl) {%> 
                  <img class="card-img-top" src="<%= activity.imageUrl %>" alt="Ktm">
                <% } else if(activity.name === "Kathmandu"){%>
                  <img class="card-img-top" src="https://i.imgur.com/Pe0I4Li.jpg" alt="Ktm">
                <% } else if(activity.name === "Pokhara"){ %>
                  <img class="card-img-top" src="https://i.imgur.com/HvxYfJS.png" alt="Pokhara">
                <% } else { %>
                  <img class="card-img-top" src="https://i.imgur.com/JtYtusZ.jpg" alt="Chitwan">
                <% } %>    
                <p><strong>Destination: </strong><%= activity.name %></p>
                <p><strong>Recommended Activity: </strong><%= activity.recommendedActivities %></p>
                <p><strong>Recommended Place: </strong><%= activity.recommendedPlaces %></p>
                <a href="/activities/<%= activity._id %>">DETAILS</a> 
              </div>
            </div>
          </div>
        <% }) %> 
    </div>
  </div>
</main>

<%- include('../partials/footer') %>