<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class = "title"><%= title %> </h1>
  <% if (user) { %>
    <a href="/activities/new">
      <button class="new"> Add Recommendations</button> 
    </a>
  <% } %>
  <div class="container py-5 px-3">
    <div class="row row-cols-2 row-cols-md-3 g1 px-4">
        <% activities.forEach(function(activity) { %>
          <div class="col">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <h1 class="card-title fs-1 text-dark">Recommended Activity</h1>      
                <p class="card-title fs-2 text-dark"><strong>Destination: </strong><%= activity.name %></p>
                <p class="card-title fs-2 text-dark"><strong>Recommended Activity: </strong><%= activity.recommendedActivities %></p>
                <p class="card-title fs-2 text-dark"><strong>Recommended Place: </strong><%= activity.recommendedPlaces %></p>
                <a class="card-title fs-2 text-dark" href="/activities/<%= activity._id %>">DETAILS</a> 
              </div>
            </div>
          </div>
        <% }) %> 
    </div>
  </div>
</main>

<%- include('../partials/footer') %>