<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/activities/show.css" />
<%- include('../partials/nav') %>

<main>
  <div><h1>Activity Detail </h1></div>
  <div><strong>Destination: </strong><%= activity.name %></div>
  <div><strong>Recommended Activity: </strong><%= activity.recommendedActivities %></div>
  <div><strong>Recommended Place: </strong><%= activity.recommendedPlaces %></div> 
  <% if (activity.owner.equals(user?.profile._id)) { %>
    <div>
      <form action="/activities/<%= activity._id %>/edit" method="GET">
        <button>EDIT</button>
      </form>
    </div>
    <div>
      <form action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
      </form>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>