<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/activities/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Activity Detail </h1>
  <% if(activity.imageUrl) {%> 
    <img src="<%= activity.imageUrl %>" alt="Ktm">
  <% } else if(activity.name === "Kathmandu"){%>
    <img src="https://i.imgur.com/Pe0I4Li.jpg" alt="Ktm">
  <% } else if(activity.name === "Pokhara"){ %>
    <img src="https://i.imgur.com/HvxYfJS.png" alt="Pokhara">
  <% } else { %>
    <img src="https://i.imgur.com/JtYtusZ.jpg" alt="Chitwan">
  <% } %>  
  <div><strong>Destination: </strong><%= activity.name %></div>
  <div><strong>Recommended Activity: </strong><%= activity.recommendedActivities %></div>
  <div><strong>Recommended Place: </strong><%= activity.recommendedPlaces %></div> 
  <% if (activity.owner.equals(user?.profile._id)) { %>
    <div>
      <form action="/activities/<%= activity._id %>/edit" method="GET">
        <button>EDIT</button>
      </form>
    </div>
    <div>
      <form action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
      </form>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>